<!-- nagano_view_pablic_customers_confirm -->

<h1>pablic_customers_confirm_顧客の退会確認画面</h1>
  
  
<main>
  <p id="notice"></p>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <table>
          
          <h1>本当に退会しますか？</h1><br>
          
          退会すると、会員情報や<br>
          これまでの購入履歴が閲覧できなくなります。<br>
          退会する場合、「退会する」をクリックしてください。
          
            <!-- 退会する_退会しない -->
            
              <!-- 退会しない〇 -->
            <strong class="nav-item">
              <%= link_to "退会しない", customers_my_page_path, class:"btn btn-primary" %>
            </strong>
            
              <!-- 退会する〇 -->
            <strong class="nav-item">
            　<%= link_to "退会する", withdrow_path, class:"btn btn-danger", method: :patch, data: { confilm: "本当に退会しますか？" } %>
          　</strong>
          
        </table>
      </div>
    </div>
  </div>
</main>

