<!-- nagano_view_admin_items_edit -->
 
<h1>_admin_index_商品編集画面</h1>
  

  <main>
    <div class="container">
      <div class="row">
        <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-6">
        <!--  admin-->
            
          
        </div>
      </div>
    </div>
  </main>


