<!-- nagano_view_admin_items_new_top -->
 
<h1>log_in_後_adomin_new_商品新規登録画面</h1>
  
  <main>
    <div class="container">
      <div class="row">
        <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-6">
          
          
          
          
        </div>
      </div>
    </div>
  </main>


