  <!-- nagano_view_pablic_homes_about -->
<h2>pablic_homes_about画面</h2>




<main>
  <p id="notice"></p>
  
  <div class="container">
    <div class="row">
      <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-6">
        <!--div class="col-md-8 offset-md-1"-->
          <table class="table table-striped">
          
            <h1 class="px-3 mx-auto">
              About
            </h1>
            <br>
            
            ながのCAKEは全国発送可能なケーキ屋さんです。<br>
            お子様からお年寄りの方までお召し上がりいただけるよう、<br>
            様々なバリエーションをご用意しております。<br>
            また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
            ぜひご注文ください。
           
          </table>
        <!--/div-->
      </div>
    </div>
  </div>
  
</main>