  <!-- nagano_view_pablic_homes_about -->
  
  
  <div class="row">
    <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-9">
      
      <table width="800"  height="350">
          <!-- About〇 -->
        <thead style="text-align: center;">
          <th class="example">
            <h2 style="font-size: 60px;">About</h2>
          </th>
        </thead>
          <!--　紹介文〇 -->
        <tbody>
          <tr>
            <td>
              <h4 style="text-align: center;">
              ながのCAKEは全国発送可能なケーキ屋さんです。<br />
              お子様からお年寄りの方までお召し上がりいただけるよう、<br />
              様々なバリエーションをご用意しております。<br />
              また、全国へ発送可能ですので、
              「いつ」でも「どこ」でもご注文いただけます。<br />
              ぜひご注文ください。
              </h4>
            </td>
          </tr>
        </tbody>
        
      </table>
    </div>
  </div>
  
  