  <!-- nagano_view_pablic_homes_about -->
<h2>log_in_後_pablic_homes_about画面</h2>


<main>
  <div class="container" >
    <div class="row">
      <table class="table table-striped">
        
        <h1>About</h1>
        <br>
        
          ながのCAKEは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
        
      </table>
    </div>
  </div>
</main>