  <!-- nagano_view_pablic_homes_top -->
  
<h1>log_in_後_pablic_homes_top画面</h1>
  
  ここに遷移する設定
<main>
  <div class="container" >
    <div class="row">
      <table class="table table-striped">
        
      </table>
    </div>
  </div>
</main>
    <!--<li>-->
    <!--  <--%= link_to new_user_session_path,class: 'nav-link text-light' do %>-->
    <!--    <i class="fas fa-sign-in-alt" aria-hidden="true"></i>-->
    <!--    Log in<!-- -->-->
    <!--  <--% end %>-->
    <!--</li>-->

