  <!-- nagano_view_pablic_homes_top -->
  
<h1>pablic_homes_top画面</h1>


<html>  
    <!-- フラッシュメッセージ投稿成功時 -->
  <div>
    <%= flash[:notice] %>
  </div>
  
  <main>
    <p id="notice"></p>
    
    <div class="container">
      <div class="row">
        <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-6">
            <table class="table table-striped">
              ここに遷移する設定
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </main>
   
</html>


    <!--<li>-->
    <!--  <--%= link_to new_user_session_path,class: 'nav-link text-light' do %>-->
    <!--    <i class="fas fa-sign-in-alt" aria-hidden="true"></i>-->
    <!--    Log in<!-- -->
    <!--  <--% end %>-->
    <!--</li>-->

