<!-- nagano_view_admin_customers_show_top -->
 
<h1>adomin_Customers_show_顧客画面</h1>
  
  <main>
    <div class="container">
      <div class="row">
        <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-6">
          
          
          
          
        </div>
      </div>
    </div>
  </main>
  
  