<!-- nagano_view_admin_orders_show_top -->
 
<h1>admin_orders_show_注文詳細画面</h1>
  
  
  <main>
    <div class="container">
      <div class="row">
        <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-6">
        
        <h3>注文詳細画面</h3>
        
        <% @order.each do |order| %>
                <!-- 商品一覧表示 -->
            <table>
                  <!-- 商品ID,商品名,価格_投稿内容 -->
              <tbody>
                <tr align="center">
                    <!-- 商品画像 -->
                  <td>
                    <%= image_tag cart_item.get_image, size: "360x300" %>
                  </td>
                  <th></th>
                    <!-- 商品名 -->
                  <td>
                    <%= link_to item_path(item.id) do %>
                      <%= item.name %>
                    <% end %>
                  </td>
                  <td></td>
                    <!-- アイテム価格 -->
                  <td>
                    <%= item.price %>
                  </td>
                    
                </tr>
              </tbody>
                
            </table>
          <% end %>
        
        </div>
      </div>
    </div>
  </main>
  
  