 <!-- nagano_view_admin_homes_top -->
 
<h1>log_in_後_adomin_homes_top画面</h1>
  
  
  
  
  <!-- フラッシュメッセージ投稿成功時 -->
  <div>
    <%= flash[:notice] %>
  </div>
 
<main>
  <div class="container">
    <div class="row">
      <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-6">
          <!-- ログアウトボタン admin-->
        <%= link_to 'destroy', destroy_admin_session_path, method: :delete %>
        
      </div>
    </div>
  </div>
</main>

