<!-- nagano_view_pablic_orders_thanks -->


  <div class="row">
    <div class="mx-auto auto col-12">
        <!-- 上に追加の余白 -->
      <div style="height: 130px;"></div>
         <!-- thanksページ -->
        <table width="800" height="500" style="margin: 0 auto;">
          <thead>
            <tr>
             <h2 style="font-size: 35px; text-align: center;">ご注文ありがとうございました!</h2>
            </tr>
          </thead>
        </table>
        
    </div>
  </div>
  
  
  