  <!-- nagano_view_pablic_items_index -->
  
  
  <div class="row">
    <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-9">
      
      <h1>商品一覧</h1>
      
      <h6>(全X件)</h6>
      
        <!-- 商品一覧表示,displayflex -->
        <!-- "." = class , #.example = id="example" , 全体 tr{...} -->
      <style>
        .example{
         display: flex;
         align-items: flex-start;
         flex-wrap: wrap;
        }
      </style>
      
        <!-- 商品一覧表示〇 -->
      <table width="828" height="130">
        <!-- 商品画像,商品名,アイテム価格 -->
      <tbody>
        <tr class="example">
          <% @items.each do |item| %>
          
          <td style="margin: 5px;">
              <!-- 商品画像〇 -->
            <%= image_tag item.get_image, size: "150x100" %>
              
              <!-- 商品名〇 --><br />
            <%= link_to item_path(item.id) do %>
              <%= item.name %>
            <% end %>
            
              <!-- アイテム価格〇 --><br />
            ￥<%= number_with_delimiter(item.price, delimiter: ',') %>
            
          </td>
          
          <% end %>
        </tr>
      </tbody>
      
      </table>
      
    </div>
  </div>
      